@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1250px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  padding: 30px 0;
  color: #fff;
  background-color: #1e202b;
}

header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand { flex-basis: 30%; }

.brand a{
  display: flex;
  color: #fff;
}

.brand a figure {
  max-width: 200px;
  padding-right: 10px;
}

.brand-name {
  display: flex;
  flex-flow: column;
  font-weight: 600;
}

.brand-name .subtext {
  margin-top: 5px;
  color: #ccc;
  font-weight: 400;
  font-size: 10px;
}

nav a {
  padding: 5px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: 10px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.icon.hamburger {
  display: none;
  font-family: 'Font Awesome 5 Free';
  font-size: 0;
  font-weight: 900;
}

.icon.hamburger:before {
  padding: 15px;
  content: "\f0c9";  
  cursor: pointer;
  font-size: 14px;
}

.icon.hamburger:hover { color: #009ad8; }

.icon.hamburger.active:before {
  border: 1px solid #009ad8;
  border-radius: 50%;
  color: #009ad8;
}

nav li a:hover { color: #009ad8; }
nav a { transition: all .3s ease; }

nav a.active {
  border: 1px solid #009ad8;
  color: #009ad8;
}

nav a.active:hover{
  border: 1px solid #fff;
  color: #fff;
}

.show-nav{ display: block; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.hero {
  padding-top: 50px;
  background: linear-gradient(45deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/featured-image-1@2x.jpg') center no-repeat;
  background-size: cover;
}

.search-form {
  padding: 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #1e202b;
}

.search-form .form-element {
  margin: 10px 0 10px 20px;
  display: flex;
  flex-grow: 1;
}

.search-form input {
  border: none;
  flex-basis: 80%;
  background-color: transparent;
  color: #fff;
}

.search-form input:focus {
  border-bottom: 2px solid #009ad8;
  outline: none;
}

.search-form button {
  padding: 15px 35px;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #009ad8;
  color: #fff;
  transition: all .3s ease;
}

.search-form button:hover {
  color: #009ad8;
  background-color: #fff;
}

.hero ul.results {
  max-width: 600px;
  border-radius: 5px;
  margin: auto;
  display: block;
  flex-flow: column;
  position: relative;
  background-color: #323544;
  color: #fff;
  transform: translateY(50%);
}

ul.results>li {
  padding: 10px 20px;
  display: block;
  color: #ccc;
}

.results .result-top {
  padding: 10px 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 30px;
  background-color: #2d303d;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.results:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.city { font-size: 18px; }

.results .temprature {
  color: #fff;
  font-size: 100px;
  font-weight: 600;
}

.temprature figure{
  width: 100px;
  display: inline-block;
}

.result-bottom ul{ display: flex; }
.result-bottom li img { width: 25px; }

.result-bottom li {
  margin: 10px;
  font-size: 14px;
}


/* Live Cameras */

.cameras {
 padding: 100px 0;
 background-color: #1e202b;
 color: #fff;
}

.cameras .wrapper { margin-top: 150px; }

.cameras h2 {
  margin: 10px 0;
  font-size: 35px;
}

.camera-list {
  display: flex;
  justify-content: space-between;
}

.camera-list li {
  color: #aaa;
  flex-basis: 22%;
  font-size: 12px;
}

.city-cam { position: relative; }
.camera-list li * { margin: 10px 0; }

.camera-list h3 {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.city-cam h3 { margin: 20px 0; }

.city-cam::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translateX(-50%);
  background-image: url('../images/play-button.png') ;
  background-repeat: no-repeat;
  opacity: .7;
}

.camera-list li:hover,
.camera-list li:hover h3{
  cursor: pointer;
  color: #009ad8;
}

/* INFO */

.info {
  padding: 70px 0;
  background-color: #262936;
  color: #aaa;
  font-size: 14px;
}

.info .wrapper {
  display: flex;
  justify-content: space-between;
}

.info article {
  display: flex;
  flex-basis: 30%;
}

.time {
  margin: 10px;
  color: #009ad8;
  font-size: 25px;
}

.info-item-content { margin-left: 20px; }

.info-item-content h3 {
  color: #fff;
  font-weight: 600;
}

.info-item-content * { margin-bottom: 10px; }
.info article:hover a{ color: #ddd; }
.info-item-content a { color: #aaa; }

/* Extra */

.extra {
  padding: 70px 0;
  background-color: #1e202b;
  color: #ccc;
}

.extra .wrapper {
  display: flex;
  justify-content: space-between;
}

.extra h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
}

.extra .wrapper > * { flex-basis: 30%; }
.features { font-size: 14px; }

.features h3 a{
  margin: 20px 0;
  position: relative;
  color: #fff;
  font-weight: 600;
  transition: .3s all ease;
}

.analysis {
  display: flex;
  flex-flow: column;
}

.analysis li {
  padding: 10px;
  border-bottom: 1px solid #444;
  display: flex;
  align-items: center;
}

.features h3 a:before,
.analysis  li a::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  transform: translateX(-100%);
  background: url('../images/arrow.png');
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.features h3 a:hover { color: #009ad8; }
.analysis li a{
  display: flex;
  position: relative;
  color: #ddd;
  font-size: 14px;
}

.analysis li a:hover { color: #fff; }

.awesome-photos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.awesome-photos li {
  margin-bottom: 10px;
  flex-basis: 31%;
  transition: 0.3s all ease;
}

.awesome-photos li:hover { transform: scale(1.1); }

/* BreadCrumbs */

.breadcrumbs {
  padding: 40px 0;
  background-color: #1e202b;
}

.breadcrumbs .wrapper {
  box-sizing: border-box;
  padding: 20px 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #262936;
}

.breadcrumbs a {
  color: #ccc;
  font-size: 13px;
  text-transform: capitalize;
}

.breadcrumbs a.active { color: #fff; }
.breadcrumbs img { width: auto; }

/* gallery */

.gallery {
  background-color: #1e202b;
  color: #aaa;
}

.gallery .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}

.gallery .photos>li {
  margin-bottom: 40px;
  border-radius: 15px;
  display: flex;
  flex-basis: 48%;
  overflow: hidden;
  align-items: stretch;
  background-color: #262936;
}

.photos li div {
  margin: 20px;
  display: flex;
  flex-basis: 50%;
  flex-flow: column;
}

.gallery figure img {
  height: 100%;
  width: 100%;
}

.photos h3 {
  padding: 20px 0;
  color: #fff;
  font-size: 16px;
}

.stars .icon { font-family: 'Font Awesome 5 Free'; }

ul.stars {
  margin-top: 10px;
  display: flex;
}

.star:before {
  content: '\f005';
  color: #1e202b;
  font-weight: 900;
}

.star.active:before { color: #009ad8; }


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 50px 0;
  background-color: #262936;
  color: #ccc;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
}

.footer-upper form {
  padding: 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-basis: 70%;
  justify-content: space-between;
  background-color: #1e202b;
}

.footer-upper .form-element {
  margin: 10px 0 10px 20px;
  display: flex;
  flex-grow: 1;
}

.footer-upper form input {
  border: none;
  flex-basis: 80%;
  background-color: transparent;
  color: #fff;
}

.footer-upper form input:focus {
  border: none;
  border-bottom: 2px solid #009ad8;
  outline: none;
}

.footer-upper button {
  padding: 15px 35px;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  background-color: #009ad8;
  transition: all .3s ease;
}

.footer-upper button:hover {
  color: #009ad8;
  background-color: #fff;
}

.social-icons { font-size: 0; }
footer .icon { font-family: 'Font Awesome 5 Brands'; }

footer .icon:before {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e202b;
  color: #009ad8;
  font-size: 18px;
  transition: all .3s ease;
}

footer .icon:hover:before{
  background-color: #009ad8;
  color: #fff;
}

.copyright {
  font-size: 13px;
  color: #aaa;
  margin-top: 30px;
}

.facebook:before { content: '\f39e'; }
.twitter:before { content: '\f099'; }
.googleplus:before { content: '\f0d5'; }
.pintrest:before { content: '\f0d2'; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  header .wrapper { flex-wrap: wrap; }
  
  nav {
    margin-top: 30px;
    display: none;
    flex-basis: 100%;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }

  nav ul li {
    background-color: #262936;
    padding: 10px 0;
  }

  nav li a {
    display: block;
    text-align: center;
  }

  nav li.active a{ border: none; }
  nav li.active a:hover{ border: none; }

  .icon.hamburger {
    display: block;
    float: right;
  }

  .camera-list{ flex-wrap: wrap; }

  .cameras li {
    margin-bottom: 20px;
    flex-basis: 45%;
  }
  
  .info .wrapper { flex-wrap: wrap; }
  .info li { flex-basis: 45%; }
  .extra .wrapper { flex-wrap: wrap; }

  .extra .wrapper>div {
    margin-top: 30px;
    flex-basis: 45%;
  }
  
  .extra .wrapper>div:first-child { margin-top: 0; }
}  

@media only screen and (max-width: 767px) {
  .brand { flex-basis: 40%; }
  .results .temprature { font-size: 70px; }
  .cameras li { flex-basis: 100%; }
  .info li { flex-basis: 100%; }
  .extra .wrapper>div { flex-basis: 100%; }
  .footer-upper { flex-wrap: wrap; }
  .footer-upper form { flex-basis: 100%; }
  .social-icons { margin-top: 20px; }
  .gallery .photos>li { flex-basis: 100%; }
}


@media only screen and (max-width: 540px) {

  .brand { flex-basis: 50%; }
  .results .temprature { font-size: 50px; }
  .temprature figure { max-width: 70px;}
  .city { font-size: 15px; }
  .result-top { font-size: 12px; }
  .result-bottom li { font-size: 12px; } 

}

@media only screen and (max-width: 480px) {

  .brand { flex-basis: 60%; }
  .results .temprature { font-size: 50px; }
  .temprature figure { max-width: 70px; }

  .footer-upper button {
    padding: 10px 20px;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #fff;
    background-color: #009ad8;
    transition: all .3s ease;
  }

}