@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1250px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  color: #fff;
  background-color: #1E202B;
  padding: 30px 0;
}

header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  flex-basis: 30%;
}
.brand a{
  display: flex;
  color: #fff;
}

.brand a figure {
  /* flex-basis: 30%; */
  max-width: 200px;
  padding-right: 10px;
}

.brand-name {
  display: flex;
  flex-flow: column;
  font-weight: 600;
}

.brand-name .subtext {
  margin-top: 5px;
  color: #ccc;
  font-weight: 400;
  font-size: 10px;
}

nav a {
  margin-right: 10px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  padding: 5px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav .icon {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: none;
}

nav .icon:before {
  content: "\f0c9";  
}

nav .icon.active:before {
  color: #009ad8;
  border: 1px solid #009ad8;
  padding: 15px;
  border-radius: 50%;
}
nav li a:hover {
  color: #009ad8;
}

li.active a{
  color: #009ad8;
  border: 1px solid #009ad8;
}

li.active a:hover{
  color: #fff;
  border: 1px solid #fff;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.hero {
  padding-top: 50px;
  background: linear-gradient(45deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/featured-image-1@2x.jpg') center no-repeat;
  background-size: cover;

}

.search-form {
  background-color: #1e202b;
  padding: 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: space-between;
}

.search-form .form-element {
  display: inline-block;
  margin: 10px 0 10px 20px;
  flex-grow: 1;
  display: flex;
}

.search-form input {
  color: #fff;
  flex-basis: 80%;
  background-color: transparent;
  border: none;
}

.search-form input:focus {
  border-bottom: 2px solid #009ad8;
  outline: none;
}

.search-form button {
  padding: 15px 35px;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  background-color: #009ad8;
  transition: all .3s ease;
}

.search-form button:hover {
  color: #009ad8;
  background-color: #fff;
}

.hero ul.results {
  display: block;
  max-width: 600px;
  /* max-width: 550px; */
  margin: auto;
  border-radius: 5px;
  flex-flow: column;
  position: relative;
  background-color: #323544;
  color: #fff;
  transform: translateY(50%);
  /* text-align: center; */
}

ul.results>li {
  padding: 10px 20px;
  display: block;
  color: #ccc;
  /* margin: 5px 5px; */
}

.results .result-top {
  padding: 10px 12px;
  font-size: 14px;
  margin-bottom: 30px;
  background-color: #2D303D;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.results:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.city {
  font-size: 18px;
}

.results .temprature {
  font-size: 100px;
  font-weight: 600;
  color: #fff;
}
.temprature figure{
  display: inline-block;
  width: 100px;
  
}

.result-bottom ul{
  display: flex;
}

.result-bottom li {
  margin: 10px;
  font-size: 14px;
}
.result-bottom li img {
  width: 25px;
}

/* Live Cameras */

.cameras {
 padding: 100px 0;
 background-color: #1E202B;
 color: #fff;
}
.cameras .wrapper {
  margin-top: 150px;
}

.cameras h2 {
  font-size: 35px;
  margin: 10px 0;
}

.cameras ul {
  display: flex;
  justify-content: space-between;
}

.cameras ul li {
  flex-basis: 22%;
  font-size: 12px;
  color: #aaa;
}

.city-cam {
  /* background-image: url('../images/live-camera-1.jpg'); */
  /* display: block; */
  position: relative;
}

.camera-list li * {
  margin: 10px 0;
}

.camera-list h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}
.city-cam h3 {
  margin: 20px 0;
}

.city-cam::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-image: url('../images/play-button.png') ;
  background-repeat: no-repeat;
  opacity: .7;
}

.camera-list li:hover,
.camera-list li:hover h3{
  cursor: pointer;
  color: #009ad8;
}

/* INFO */

.info {
  background-color: #262936;
  color: #aaa;
  font-size: 14px;
  padding: 70px 0;
}

.info .wrapper {
  display: flex;
  justify-content: space-between;
}
.info article {
  flex-basis: 30%;
  display: flex;
}
.time {
  font-size: 25px;
  color: #009ad8;
  margin: 10px;
}

.info-item-content {
  margin-left: 20px;
}
.info-item-content h3 {
  color: #fff;
  font-weight: 600;
}


.info-item-content * {
  margin-bottom: 10px;
}


.info article:hover a{
  color: #ddd;
}

.info-item-content a {
  color: #aaa;
}

/* Extra */

.extra {
  padding: 70px 0;
  background-color: #1E202B;
  color: #ccc;
}

.extra .wrapper {
  display: flex;
  justify-content: space-between;
}

.extra h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.extra .wrapper > * {
  flex-basis: 30%;
}

.features {
  font-size: 14px;
}
.features h3 {
  color: #fff;
  margin: 20px 0;
  /* font-size: 16px; */
  font-weight: 600;
  position: relative;
}

.analysis {
  display: flex;
  flex-flow: column;
}
.analysis li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #444;

}


.features h3:before,
.analysis  li a::before {
  content: "";
  position: absolute;
  width: 20px;
  top: 5px;
  transform: translateX(-100%);
  /* transform: translateY(250%); */
  height: 20px;
  background: url('../images/arrow.png');
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.analysis li a{
  font-size: 14px;
  display: flex;
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  color: #ddd;
}


.analysis li a:hover {
  color: #fff;
}

.awesome-photos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.awesome-photos li {
  flex-basis: 31%;
  margin-bottom: 10px;
  transition: 0.3s all ease;
}

.awesome-photos li:hover {
  transform: scale(1.1);
}

/* BreadCrumbs */

.breadcrumbs {
  background-color: #1e202b;
  padding: 40px 0;
}

.breadcrumbs .wrapper {
  background-color: #262936;
  /* background-color: #fff; */
  padding: 20px 30px;
  box-sizing: border-box;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.breadcrumbs a {
  color: #ccc;
  text-transform: capitalize;
  font-size: 13px;
}

.breadcrumbs a.active {
  color: #fff;
}
.breadcrumbs img {
  width: auto;
}

/* gallery */

.gallery {
  background-color: #1e202b;
  color: #aaa;
}

.gallery .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}

.gallery .photos>li {
  flex-basis: 48%;
  display: flex;
  background-color: #262936;
  margin-bottom: 40px;
  border-radius: 15px;
  overflow: hidden;
}

.gallery .photos>li {
}
.photos li div {
  flex-basis: 50%;
  display: flex;
  flex-flow: column;
  margin-left: 20px;
  /* justify-content: space-around; */
}

.photos h3 {
  padding: 20px 0;
  color: #fff;
  font-size: 16px;
}

.stars .icon {
  font-family: 'Font Awesome 5 Free';
}

ul.stars {
  display: flex;
  margin-top: 10px;
}

.star:before {
  content: '\f005';
  color: #1e202b;
  font-weight: 900;
}

.star.active:before {
  color: #009ad8;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 50px 0;
  background-color: #262936;
  color: #ccc;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
}

.footer-upper form {
  display: flex;
  background-color: #1e202b;
  flex-basis: 70%;
  padding: 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  justify-content: space-between;
}

.footer-upper .form-element {
  display: inline-block;
  margin: 10px 0 10px 20px;
  flex-grow: 1;
  display: flex;
  flex-grow: 1;
  display: flex;
}

.footer-upper form input {
  flex-basis: 80%;
  background-color: transparent;
  border: none;
  color: #fff;
}

.footer-upper form input:focus {
  border: none;
  outline: none;
border-bottom: 2px solid #009ad8;
}

.footer-upper button {
  padding: 15px 35px;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  background-color: #009ad8;
  transition: all .3s ease;
}

.footer-upper button:hover {
  color: #009ad8;
  background-color: #fff;
}
.social-icons {
  font-size: 0;
}

footer .icon {
  font-family: 'Font Awesome 5 Brands';
}

footer .icon:before {
  transition: all .3s ease;
  color: #009ad8;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #1e202b;
}

footer .icon:hover:before{
  background-color: #009ad8;
  color: #fff;
}

.copyright {
  font-size: 13px;
  color: #aaa;
  margin-top: 30px;
}

.facebook:before {
  content: '\f39e';
}

.twitter:before {
  content: '\f099';
}

.googleplus:before {
  content: '\f0d5';
}

.pintrest:before {
  content: '\f0d2';
}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  nav ul {
    display: none;
  }
  nav span.icon {
    display: block;
  }

}  